<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

	<appender name="auditLogger" class="com.papertrailapp.logback.Syslog4jAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%d, %-5p, %C:%L] - [%X{user},%X{transaction},%X{applicationKey}] - %m%n</pattern>
		</layout>

		<syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.TCPNetSyslogConfig">
			<host>audit.nais</host>
			<port>6514</port>
			<ident>varsel_audit</ident>
			<maxMessageLength>128000</maxMessageLength>
		</syslogConfig>
	</appender>

	<logger level="INFO" name="auditLogger" additivity="false">
		<appender-ref ref="auditLogger"/>
	</logger>

	<appender name="abacLogger" class="com.papertrailapp.logback.Syslog4jAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX"} %t varsel: %level %X{callId} ConsumerID: %X{consumerId}; User: %X{userId}; Endpoint: %X{httpEndpoint}; Method: %X{httpOperation}; %m%n%xEx</pattern>
		</layout>

		<syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.TCPNetSyslogConfig">
			<host>audit.nais</host>
			<port>6514</port>
			<ident>varsel_abac</ident>
			<maxMessageLength>128000</maxMessageLength>
		</syslogConfig>
	</appender>

	<logger level="INFO" name="abacLogger" additivity="false">
		<appender-ref ref="abacLogger"/>
	</logger>

	<appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
				<maxDepthPerThrowable>30</maxDepthPerThrowable>
				<exclude>java\.util\.concurrent\..*</exclude>
				<exclude>org\.apache\.tomcat\..*</exclude>
				<exclude>org\.apache\.coyote\..*</exclude>
				<exclude>org\.apache\.catalina\..*</exclude>
				<exclude>org\.springframework\.web\..*</exclude>
				<exclude>sun\.net\.www\..*</exclude>
			</throwableConverter>
		</encoder>
	</appender>

	<root level="WARN">
		<appender-ref ref="stdout_json"/>
	</root>

	<logger name="org.flywaydb" level="INFO" additivity="false">
		<appender-ref ref="stdout_json"/>
	</logger>

	<logger name="no.nav.varsel" level="INFO" additivity="false">
		<appender-ref ref="stdout_json"/>
	</logger>

	<!--	 Hibernate deprecated warnings -->
	<logger name="org.hibernate.orm.deprecation" additivity="false" level="ERROR"/>
	<!--	 Remove noise due to wrong use of AddressingFeature -->
	<logger name="org.apache.cxf.ws.addressing.ContextUtils" additivity="false" level="ERROR"/>
	<logger name="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor" additivity="false" level="ERROR"/>
	<logger name="org.apache.cxf.ws.addressing.soap.MAPCodec" additivity="false" level="ERROR"/>
	<logger name="org.apache.wss4j.common.crypto.CryptoBase" additivity="false" level="ERROR"/>
	<logger name="log4j.logger.org.apache.cxf.interceptor" additivity="false" level="ERROR"/>
	<!--	 Remove spam from VeraPDF -->
	<logger name="org.verapdf.pd.font.Encoding" additivity="false" level="ERROR"/>

</configuration>