<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%t, %d, %-5p, %C:%L] - [%X{brevOgArkivUserId}] - %.-100000m%n</pattern>
		</encoder>
	</appender>

	<root level="WARN">
		<!--<appender-ref ref="CONSOLE"/>-->
	</root>

	<logger name="no.nav.varsel" level="DEBUG"/>
	<logger name="org.springframework" level="INFO"/>
	<!--<logger name="org.springframework.boot" level="DEBUG"/>-->
	<logger name="org.springframework.batch" level="INFO"/>
	<!--<logger name="org.springframework.transaction" level="DEBUG"/>-->
	<!--<logger name="org.springframework.jdbc" level="DEBUG"/>-->
	<!--<logger name="org.springframework.jms" level="DEBUG"/>-->
	<!--<logger name="org.springframework.web" level="DEBUG"/>-->
	<logger name="org.apache.cxf" level="INFO"/>
	<!--<logger name="org.apache.tomcat.jdbc" level="DEBUG"/>-->
	<logger name="com.atomikos" level="ERROR"/>
	<!--<logger name="com.atomikos" level="INFO"/>-->
	<!--<logger name="com.atomikos.jdbc" level="DEBUG"/>-->
	<!--<logger name="com.atomikos.datasource" level="DEBUG"/>-->
	<!--<logger name="org.h2" level="TRACE"/>-->
	<logger name="org.hibernate" level="INFO"/>
	<logger name="org.apache.catalina" level="INFO">
		<!--<appender-ref ref="debuglog"/>-->
	</logger>

</configuration>
