<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%t, %d, %-5p, %C:%L] - [%X{brevOgArkivUserId}] - %.-1000m%n</pattern>
		</encoder>
	</appender>

	<root level="WARN">
		<!--<appender-ref ref="CONSOLE"/>-->
	</root>

	<logger name="no.nav.varsel" level="INFO"/>
	<logger name="org.springframework" level="INFO"/>
	<!--<logger name="org.hibernate" level="DEBUG"/>-->
	<logger name="org.apache.catalina" level="INFO">
		<!--<appender-ref ref="debuglog"/>-->
	</logger>

</configuration>
