.table tbody tr > td.success {
    background-color: #dff0d8 !important;
}

.table tbody tr > td.danger {
    background-color: #f2dede !important;
}

.table tbody tr > td.warning {
    background-color: #fcf8e3 !important;
}